<!DOCTYPE html>
<html>

<head>
    <script src="./lib/jquery.min.js"></script>
    <script src="./lib/angularjs.min.js"></script>
    <script src="./lib/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./lib/fontawesome.css">
    <script src="./lib/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap.min.css">

    <script src="./app.js"></script>
</head>

<body>
    <div class="container">
        <div ng-app="todolist" ng-controller="todoCtrl">
            <strong>Person</strong>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Surname
                        </th>
                        <th>
                            Age
                        </th>
                        <th>
                            Dogs
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="person in people">
                        <td>
                            {{person.name}}
                        </td>
                        <td>
                            {{person.surname}}
                        </td>
                        <td>
                            {{person.age}}
                        </td>
                        <td>
                            <ul>
                                <li ng-repeat="dog in person.dogs">{{dog.name}} ({{dog.breed}})</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>